---
import AppSkeleton from "@/components/astro/AppSkeleton.astro";
import BergBalance from "@/components/astro/BergBalance.astro";
import ChestImage from "@/components/astro/ChestImage.astro";
import Coin from "@/components/astro/Coin.astro";
import { chests } from "@/gambling/chests";
import Layout from "@/layouts/Layout.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

const user = session?.user?.email;
if (!user)
    return new Response(null, {
        headers: {
            location: "/",
        },
        status: 302,
    });
---

<Layout title="Bergbote - Gambling">
    <AppSkeleton>
        <BergBalance />
        <div
            class="p-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 w-full h-full max-w-full gap-2"
        >
            {
                Object.entries(chests).map(([id, chest]) => (
                    <a href={`/gambling/chest/${id}`}>
                        <div class="border rounded-lg p-4">
                            <div class="h-[9em] aspect-square">
                                <ChestImage i={id} />
                            </div>
                            <h2 class="text-[2em] leading-6">{chest.name}</h2>
                            <span class="self-center text-[0.7em] -mt-1 inline-block">
                                <BergBalance amount={chest.cost} />
                            </span>
                            <p>{chest.description}</p>
                            {/*JSON.stringify(chest.lootTable)*/}
                        </div>
                    </a>
                ))
            }
        </div>
    </AppSkeleton>
</Layout>
