---
import AppSkeleton from "@/components/astro/AppSkeleton.astro";
import ArticleCard from "@/components/astro/articles/ArticleCard.astro";
import { db } from "@/db";
import { articlesTable, topicsTable } from "@/db/schema";
import { sql } from "drizzle-orm";
import Layout from "@/layouts/Layout.astro";

const { id } = Astro.params;

const [topic] = await db
    .select()
    .from(topicsTable)
    .where(sql`${topicsTable.id} = ${id}`);

if (!topic) {
    return new Response("Topic not found", { status: 404 });
}

const articles = await db
    .select()
    .from(articlesTable)
    .where(sql`${articlesTable.topic} = ${topic.id}`);
---

<Layout title={"Bergbote - " + topic.name || "Bergbote - Topic not found"}>
    <AppSkeleton>
        <h2 class="text-2xl p-3 leading-6">
            Thema: {topic.name}
        </h2>
        <div>
            {articles.map((a) => <ArticleCard article={a} />)}
        </div>
    </AppSkeleton>
</Layout>
