---
import { ClientRouter } from "astro:transitions";
import "@/styles/globals.css";

// @ts-ignore
import { pwaAssetsHead } from "virtual:pwa-assets/head";
// @ts-ignore
import { pwaInfo } from "virtual:pwa-info";
// import ReloadPrompt from "@/components/ReloadPrompt.astro";

interface Props {
    title: string;
}

import favicon from "@/assets/favicon.png";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="nord dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="description" content={title} />
        <ClientRouter />
        <script src="../pwa.ts"></script>
        {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
        {
            pwaAssetsHead.themeColor && (
                <meta
                    name="theme-color"
                    content={pwaAssetsHead.themeColor.content}
                />
            )
        }
        {
            pwaAssetsHead.themeColor && (
                <meta
                    name="theme-color"
                    content={pwaAssetsHead.themeColor.content}
                />
            )
        }
        {pwaAssetsHead.links.map((link: any) => <link {...link} />)}
        <link rel="icon" href={favicon.src} />
        <title>{title}</title>
    </head>

    <body class="absolute w-full h-full left-0 top-0">
        <slot />
    </body>
</html>
